.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 120px); /* Adjust based on header/footer height */
    overflow: hidden; /* Prevents overflow */
}

.banner-container {
    position: relative; /* Make this the reference for absolute positioning */
    width: 100%; /* Full width */
    height: auto;
}

.banner {
    width: 100%; /* Full width */
    display: block;
}
.logo {
    position: absolute;
    left: 10%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    top: 1%;
    width: 150px; /* Adjust as needed */
    z-index: 10; /* Ensure it's above the banner */
}
.about {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 80px 0px;
}
.aboutContent {
    display: flex;
    font-size: 20px;
    padding: 0px 40px;
    gap: 28px;
    .content {
        font-weight: 700;
    }
    .mainContent {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}