.section {
    display: flex;
    justify-content: space-between;
    font-family: "Tw Cen MT";
    background-color: #FDECEC;
    padding: 20px 40px;
    margin-top: -5px;
}
.section1 {
    display: flex;
    justify-content: space-between;
}
.icons {
    margin-right: 8px;
}
.value {
    font-size: 20px;
    font-weight: 700;
}
.name {
    font-size: 14px;
}