.footer {
    background-color: #F1E7E7;
    font-size: 16px;
    justify-content: center;
}
.divider {
    border-width: 1px;
    border-style: solid;
    border-color: #707070;
    margin: 40px 0px;
}
.socialmedia {
    margin-top: 30px;
}
.trademark {
    padding-bottom: 28px;
}